<div class="card is-small mt-6 pt-6">
  <p class="title is-3 has-text-centered my-5 is-family-primary">
    "El dinero no te hace feliz, pero relaja los nervios"
  </p>

  <div class="field is-medium m-2 mt-4 p-0 py-3">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="Observación" />
      <span class="icon is-small is-left has-text-black">
        <i class="fa-solid fa-eye"></i>
      </span>
    </p>
  </div>
  <div class="field is-medium m-2 mt-2 p-0 py-1">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="number" placeholder="Montón" />
      <span class="icon is-small is-left has-text-black">
        <i class="fa-solid fa-money-bill-1-wave"></i>
      </span>
    </p>
  </div>
  <div class="field is-medium m-2 mt-5 pb-6">
    <p class="control has-icons-left">
      <input class="input" type="date" placeholder="Fecha" />
      <span class="icon is-small is-left has-text-black">
        <i class="fa-solid fa-calendar-days"></i>
      </span>
    </p>
  </div>
  <div class="field has-text-centered">
    <p class="control">
      <button class="button is-success">Crear Ingreso</button>
    </p>
  </div>
</div>
