<div>
  <section class="hero is-small is-link">
    <figure class="image is-48x48 is-align-self-flex-end m-1 mr-4 mt-3 p-1">
      <img
        class="is-rounded"
        src="https://bulma.io/images/placeholders/68x68.png"
      />
    </figure>
    <p class="subtitle is-size-6-mobile is-align-self-flex-start ml-6 mb-0">
      Finanzas Controladas
    </p>
    <div class="hero-body mb-0">
      <p class="title m-2">Balance</p>
      <p class="subtitle m-1">$(numero)</p>
    </div>
  </section>
  <div class="container is-max-widescreen m-3 my-0">
    <div class="notification m-1">
      <h5 class="title is-6 m-2 mb-2">Últimas Transacciones</h5>
      <p class="subtitle is-6 m-2 mb-4 has-text-danger">-$(numero)</p>
      <p class="subtitle is-6 m-2 has-text-success">$(numero)</p>
    </div>
    <div class="notification m-1">
      <h5 class="title is-6 m-1 mb-1">Saldo</h5>
      <p class="subtitle is-6 m-1 mb-1">$(numero)</p>
    </div>
  </div>
  <div class="field has-text-centered">
    <button class="button is-success m-2 mx-3 my-3 ml-5">Ingreso</button>
    <button class="button is-danger m-2 mx-5 my-3">Gasto</button>
    <span class="icon-text is-flex-direction-column m-3">
      <span class="icon mx-3">
        <i class="fas fa-home"></i>
      </span>
      <p class="subtitle is-6">
        <a href="#"> <strong>Inicio</strong></a>
      </p>
    </span>
    <span class="icon-text is-flex-direction-column m-3">
      <span class="icon mx-6">
        <i class="fa-solid fa-file-lines"></i>
      </span>
      <p class="subtitle is-6 mx-1">
        <a href="#"> <strong>Transacciones</strong></a>
      </p> </span
    ><span class="icon-text is-flex-direction-column m-3">
      <span class="icon mx-4">
        <i class="fa-solid fa-gear"></i>
      </span>
      <p class="subtitle is-6">
        <a href="#"> <strong>Ajustes</strong></a>
      </p>
    </span>
  </div>
</div>

