<div class="card is-small mt-6 pt-6">
  <p class="title is-3 has-text-centered my-5">Title 3</p>
  <div class="field is-medium m-2 mt-6 p-0 py-3">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email" />
      <span class="icon is-small is-left">
        <ion-icon name="mail-outline"></ion-icon>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field is-medium m-2 mt-5 pb-6">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" />
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field has-text-centered">
    <p class="control">
      <button class="button is-success">Login</button>
    </p>
    <div class="block my-5 pb-6">
      ¿No tienes una cuenta? <a href="#">Crea una</a>
    </div>
  </div>
</div>
