<div class="card is-small mt-6 pt-6">
  <p class="title is-3 has-text-centered my-5 is-family-primary">
    ¡Que bueno que estés aquí!
  </p>

  <div class="field is-medium m-2 mt-4 p-0 py-3">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="name" placeholder="Name" />
      <span class="icon is-small is-left has-text-black">
        <i class="fa-solid fa-user"></i>
      </span>
    </p>
  </div>
  <div class="field is-medium m-2 mt-2 p-0 py-1">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email" />
      <span class="icon is-small is-left has-text-black">
        <i class="fa-solid fa-envelope"></i>
      </span>
      <span class="icon is-small is-right has-text-black">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field is-medium m-2 mt-5 pb-6">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" />
      <span class="icon is-small is-left has-text-black">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field has-text-centered">
    <p class="control">
      <button class="button is-success">Crear Cuenta</button>
    </p>
    <div class="block my-5 pb-6">
      ¿ya tienes una cuenta? <a href="#">Inicia Sessión</a>
    </div>
  </div>
</div>
